/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12 abr. 2022, 17:31:28
    Author     : XPC
*/

body {
    margin: 0;
    padding: 2em;
    background-color: #bdd5ea;
}

* {
    box-sizing: border-box;
}


h3 {
    text-align: center;
    padding: 0.5em;
    border-radius: 12px;
  }