@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #bdd5ea;
    
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


h3 {
    text-align: center;
    padding: 0.5em;
    border-radius: 12px;
}

.p1{
    padding: 10% 10%;
    border-radius: 12px;
    background-color: #F7F7FF;
}

.section1{
  padding: 3% 10%;
  width: 50%;
  margin: auto;
}

.bienvenido{
    text-align: center;
    padding-top:20px;
    font-size: 2em;
    font-weight: 300;
    color: #577399;

}

.Imp{
    margin-left:5em;
}
.titulo{

    font-family: 'Archivo Black', sans-serif;
    font-size: 3em  ;
    font-weight: bold;
    color: #f7f7ff;
    padding: .5em 0em .5em 0em;
    text-align: center;
    background-color: #577399;
}

.desc{
    border: 10px; 
    max-width: 700px;
    margin: auto; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
    font-size: 1em;
    font-weight: 300;
    color: #577399;

}

.info{
    border: 10px solid #577399; 
    max-width: 700px;
    margin: auto; 
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
    background-color: #F7F7FF;
    font-weight: bold;
}

.wrapper{
    border: 10px;
    height: 90vh;
    padding-top: 70px;
}
